*.obj
*.iobj
*.ipdb
*.pdb
*.tlog
*.idb
*.tlog
*.tlog
*.pdb
*.ipdb
*.obj
CompileAndBuildTools/ScedulersDistributed/IterativeRelease/stdafx.obj
*.obj
*.ipch
*.tlog
*.tlog
*.db
*.db-shm
*.db-wal
CompileAndBuildTools/.vs/Compiler/v16/.suo
*.idb
*.log
*.obj
*.opendb
